#root {
  
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
*{
  scroll-behavior: smooth;
}



.mx-w-30{
  /* border:1px solid black; */
  max-width:3.5rem;
}

.logo img{
  width:100%;
}

.menu-bar{
  max-width:2rem;
  display:flex;
  align-items:center;
  justify-content:center;
}

.gray-text{
  color:#9B66FD;
  
}

.contact-btn{
  outline:2px solid black;
}


.light-shadow{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.service-flex-container{
  display:flex;
  align-items:center;
  justify-content:center;
}
.service-container{
  box-shadow:1px 3px  10px #ECE2FD;
}
.faq-container{
  box-shadow:5px 1px  10px #ECE2FD;
}
.mobile-sidebar{
  box-shadow:1px 3px  10px #ECE2FD;
}


/* .answer{
  height:0;
  overflow:hidden;
} */

/* carousal styling */
.carousel {
  position: relative;
  height: 320px;
  max-width: 480px;
  margin: auto;
  overflow: hidden;
  /* border:1px solid black; */
  
  

}
.carousel img {
  width: 100%;
  height: 100%;
  margin:0 auto;
}
.slide_direction {
  display: flex;
  justify-content: space-between;
}
.left,
.right {
  background-color: #fb666675;
  display:flex;
  align-items:center;
  justify-content:center;

  /* padding: 10px 8px 8px 13px; */
  /* margin: 0 20px; */
  border-radius: 50%;
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  margin: auto 10px;
  height: 25px;
  width: 25px;
}
.left {
  left: 5%;
  top:50%;
}
.right {
  top:50%;
  right: 5%;
}
.left > svg, .right > svg{
  color: #C6A7F6;
  
}
.indicator {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  gap: 5px;
  /* border:1px solid black; */
}
.dot {
  background-color: #ECE2FD;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.active {
  background-color: #9B66FD;
}

/* mobile nav animation */
.mobile-sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 80%;
  min-height: 100vh;
  padding: 20px;
  transition: left 0.3s ease-in-out;
  z-index:50;
}

.mobile-sidebar.open {
  left: 0;
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}

/* .navbar::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  filter: blur(20px); 
  z-index: 5;
  border:1px solid black;

  
} */

.transparent-background {
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha value (last parameter) as needed */
}


/* LoadingPage.css */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1f1f1f; /* Dark background color */
  z-index: 1000;
  transition: opacity 0.5s ease-in-out;
}

.loading-text {
  font-size: 1.2em;
  color: #ffffff; /* White text color */
  margin-top: 10px;
}

.loading-dots {
  display: flex;
  align-items: center;
}

.loading-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #4CAF50; /* Green color for the dots */
  margin: 0 5px;
  animation: moveUpDown 1.5s infinite ease-in-out;
}

.loading-dot:nth-child(2) {
  animation-delay: 0.5s;
}

.loading-dot:nth-child(3) {
  animation-delay: 1s;
}

@keyframes moveUpDown {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

/* .hidden {
  opacity: 0;
  pointer-events: none;
} */







@media screen and (min-width:1024px){
  .carousel{
    height:480px;
  }
  .carousel img{
    height: 100%;
  }
}